@use "sass:color";
$midnight: navy;
$clouds: #ecf0f1;

/* Accordion styles */
.tabs {
  overflow: hidden;
  
  .tab {
    width: 100%;
    color: white;
    overflow: hidden;
    margin-bottom: 0.5em;
    position: relative;
    &-label {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      background: white;
      border: 2px solid $midnight;
      color: $midnight;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      /* Icon */
      &:hover {
        background: color.adjust($midnight, $lightness: -10%);
        color: white;
      }
      &::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all .35s;
      }
    }
    &-content {
      max-height: 0;
      padding: 0 1em;
      color: #222;
      background: white;
      transition: all .35s;
    }
    &-close {
      display: flex;
      justify-content: flex-end;
      padding: 1em;
      font-size: 0.75em;
      background: $midnight;
      cursor: pointer;
      &:hover {
        background: color.adjust($midnight, $lightness: -10%);
      }
    }
    
    input {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    // :checked
    input:checked {
      + .tab-label {
        background: color.adjust($midnight, $lightness: -10%);
        color: white;
        &::after {
          transform: rotate(90deg);
        }
      }
      ~ .tab-content {
        max-height: 100vh;
        padding: 1em;
        border: 1px solid #ccc;
      }
    }
  }
}
