@use "../../../node_modules/stalfos/src/functions/get-size";

.post-list {
  &__item {
    --flow-space: #{get-size.get-size(700)};
  }

  &__link {
    &,
    &:visited {
      color: var(--color-theme-primary);
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
