<div class="menu">
    <div class="menu-items">
        <div class="menu-group snacks">
            <div class="menu-title snacks">
                <h2>Snacks</h2>
            </div>
            <div class="menu-row">
                <h3>Hot Pretzel <span class="price">$2.50</span>
                </h3>
                <p class="description">with Cheese <span class="price">$3.00</span></p>
            </div>
            <div class="menu-row">
                <h3>French Fries<span class="price">$2.50</span></h3>
            </div>
            <div class="menu-row">
                <h3>Cheese Fries<span class="price">$3.00</span></h3>
            </div>
            <div class="menu-row">
                <h3>Loaded Fries<span class="price">$4.50</span></h3>
                <p class="description">
                    cheddar cheese, bacon, ranch
                </p>
            </div>
            <div class="menu-row">
                <h3>Nachos w/Cheese<span class="price">$3.00</span></h3>
            </div>
            <div class="menu-row">
                <h3>Nachos Supreme<span class="price">$3.75</span></h3>
                <p class="description">nacho cheese, sour cream, salsa, jalapeño</p>
            </div>
            <div class="menu-row">
                <h3>Taco Nachos<span class="price">$4.00</span></h3>
                <p class="description">taco meat, nacho cheese, onions, sour cream, salsa</p>
            </div>
            <div class="menu-row">
                <h3>Walking Taco<span class="price">$3.75</span></h3>
                <p class="description">Fritos topped with taco meat, nacho cheese, sour cream</p>
            </div>
            <div class="menu-row">
                <h3>Boneless Chicken Bites (8)<span class="price">$4.00</span></h3>
                <p class="description">Served with choice of BBQ, Buffalo or Ketchup</p>
            </div>
            <div class="menu-row">
                <h3>Onion Rings<span class="price">$2.75</span></h3>
            </div>
            <div class="menu-row">
                <h3>Mozzarella Sticks<span class="price">$3.00</span></h3>
            </div>
            <div class="menu-row">
                <h3>Whole Pickle<span class="price">$1.00</span></h3>
            </div>
            <div class="menu-row">
                <h3>Hard Boilded Egg<span class="price">$1.00</span></h3>
            </div>
            <div class="menu-row">
                <h3>Popcorn<span class="price">$1.00</span></h3>
            </div>
            <div class="menu-row">
                <h3>Chips<span class="price">$1.00</span></h3>
            </div>
        </div>
        
        <div class="menu-group pizzas">
            <div class="menu-title">
                <h2>Pizzas</h2>
            </div>
            <div class="pizzas-grid">
                <p>size</p>
                <p>slice</p>
                <p>whole</p>
                <p>cheese</p>
                <p>$2.00</p>
                <p>$9.00</p>
                <p>pepperoni</p>
                <p>$2.50</p>
                <p>$10.00</p>
            </div>
        </div>
        <div class="menu-group sweet-bites">
            <div class="menu-title">
                <h2>Sweet Bites</h2>
            </div>
            <div class="menu-row">
                <h3>Churros<span class="price">$2.50</span></h3>
            </div>
            <div class="menu-row">
                <h3>Funnel Cake<span class="price">$2.50</span></h3>
            </div>
        </div>
        
        <div class="menu-group burgers">
            <div class="menu-title">
                <h2>Burgers</h2>
            </div>
            <div class="smoked-fish">
                <h3>Available Toppings</h3>
                <p>
                    lettuce, onion, pickle, tomato, jalapeños, ketchup, mustard, mayonnaise, bbq, bacon (add $1)
                </p>
                <p>
                    Cheese: american, pepper jack, cheddar
                </p>
            </div>
            <div class="menu-row">
                <h3>Hamburger<span class="price">$3.00</span></h3>
            </div>
            <div class="menu-row">
                <h3>Cheeseburger<span class="price">$3.50</span></h3>
            </div>
            <div class="menu-row">
                <h3>Double Cheeseburger<span class="price">$5.00</span></h3>
            </div>
            <div class="menu-row">
                <h3>BBQ Bacon Burger<span class="price">$6.00</span></h3>
                <p class="description">bacon, onion rings, cheddar cheese, bbq, lettuce</p>
            </div>
    <!--</div>
        <div class="menu-group wraps">-->
            <div class="menu-title">
                <h2>Wraps</h2>
            </div>
            <div class="menu-row">
                <h3>
                    Grilled Chicken<span class="price">$6.50</span>
                </h3>
                <p class="description">
                    cheddar cheese, lettuce, onions, tomato, sour cream
                </p>
            </div>
            <div class="menu-row">
                <h3>Buffalo Chicken<span class="price">$6.50</span></h3>
                <p class="description">
                    cheddar cheese, buffalo sauce, lettuce, side of ranch or blue cheese
                </p>
            </div>
            <div class="menu-row">
                <h3>Fiesta Chicken<span class="price">$6.50</span></h3>
                <p class="description">
                    pepper jack cheese, salsa, sour cream, lettuce, jalapeños
                </p>
            </div>
            <div class="menu-row">
                <h3>Italian Chicken<span class="price">$6.50</span></h3>
                <p class="description">
                    cheddar cheese, italian dressing, onion, lettuce
                </p>
            </div>
            <div class="menu-row">
                <h3>Chicken Bacon Ranch<span class="price">$6.50</span></h3>
                <p class="description">
                    cheddar cheese, bacon, tomatoes, onion, lettuce, ranch
                </p>
            </div>
    <!--</div>
        <div class="menu-group quesadillas">-->
            <div class="quote-grid">
                <div class="menu-title">
                    <h2>Quesadillas</h2>
                </div>
            </div>
            <div class="menu-row">
                <h3>Cheese<span class="price">$3.50</span></h3>
                <p class="description">
                    cheddar or pepper jack cheese
                </p>
            </div>
            <div class="menu-row">
                <h3>Grilled Chicken<span class="price">$6.50</span></h3>
                <p class="description">
                    cheddar cheese, onion topped with lettuce and sour cream
                </p>
            </div>
            <div class="menu-row">
                <h3>Fiesta Chicken<span class="price">$6.50</span></h3>
                <p class="description">pepper jack cheese topped with salsa, lettuce and sour cream</p>
            </div>
            <div class="menu-row">
                <h3>BBQ Bacon Chicken<span class="price">$6.50</span></h3>
                <p class="description">
                    bacon, cheddar cheese and bbq sauce
                </p>
            </div>
            <!--             <div class="bread">
                <div class="menu-row">
                    <h3>
                        russ <span class="small-ampersand">&</span> Daughters Bread basket
                        <span class="price">7</span>
                    </h3>
                    <p class="description">
                        bagel, bialy, shissel rye, onion roll, pumpernickel
                    </p>
                </div>
            </div> -->
        </div>

        <hr class="tablet-rule" />
        <div class="menu-group soup-salad">
            <!--       <div class="menu-nugget">
        <span>small</span> <span class="vertical-bar">dishes</span>
      </div> -->
            <div class="menu-title soup-salad">
                <h2>Salads</h2>
            </div>
            <div class="smoked-fish">
                <!--                 <h3>Dressings</h3> -->
                <p>
                    Dressings: Ranch, Bleu cheese, italian
                </p>
                <p>
                    Add-ons: Egg(add $1), Bacon (add $1)
                </p>
            </div>
            <div class="menu-row">
                <h3>House Salad<span class="price">$3.50</span>
                </h3>
                <p class="description">cheddar cheese, tomato, onion</p>
            </div>
            <div class="menu-row">
                <h3>Grilled Chicken<span class="price">$6.50</span></h3>
                <p class="description">cheddar cheese, onion, egg</p>
            </div>
            <div class="menu-row">
                <h3>Buffalo Chicken<span class="price">$6.50</span></h3>
                <p class="description">chicken tossed in buffalo saucse, cheddar cheese</p>
            </div>
            <div class="menu-row">
                <h3>Taco Salad<span class="price">$6.50</span></h3>
                <p class="description">taco meat, cheddar cheese, salsa, sour cream, jalapeño</p>
            </div>
        </div>

        <div class="menu-group beechwood-bites">
            <!--       <div class="menu-nugget">
        <span>small</span> <span class="vertical-bar">dishes</span>
      </div> -->
            <div class="menu-title snacks">
                <h2>Beechwood Bites</h2>
            </div>
            <div class="menu-row">
                <h3>Hotdog<span class="price">$1.50</span>
                </h3>
            </div>
            <div class="menu-row">
                <h3>Mini Corndogs (8)<span class="price">$3.00</span></h3>
            </div>
            <div class="menu-row">
                <h3>Uncrustable<span class="price">$3.00</span></h3>
                <p class="description">
                    (grape or strawberry)
                </p>
            </div>
            <div class="menu-row">
                <h3>Grilled Cheese<span class="price">$2.50</span></h3>
            </div>
            <div class="menu-row">
                <h3>Mac-n-Cheese<span class="price">$2.00</span></h3>
            </div>
            <div class="menu-row">
                <h3>Go-Gurt<span class="price">$2.00</span></h3>
            </div>
            <div class="menu-row">
                <h3>Applesauce<span class="price">$1.00</span></h3>
            </div>
            <div class="menu-row">
                <h3>Carrots and Ranch<span class="price">$3.0</span></h3>
            </div>
        </div>

        <!--         <div class="menu-group soup-salad">
            <div class="soup">
                <div class="menu-title">
                    <h2>Salads</h2>
                </div>
                <div class="menu-row">
                    <h3>Matzo Ball<span class="price">8</span></h3>
                    <p class="description">chicken, vegetables, matzo ball</p>
                </div>
                <div class="menu-row">
                    <h3>Mushroom Barley<span class="price">8</span></h3>
                    <p class="description">
                        mushrooms, barley <span class="italic">w/</span> shissel rye bread
                    </p>
                </div>
                <div class="menu-row">
                    <h3>Borscht<span class="price">8</span></h3>
                    <p class="description">
                        served chilled: beets, sour cream, dill
                        <span class="italic">w/</span> pumpernickel
                    </p>
                </div>
                <div class="menu-row">
                    <h3>Smoked Whitefish Chowder<span class="price">10</span></h3>
                    <p class="description">dill, esplette pepper, matzo</p>
                </div>
            </div>
            <div class="salad">
                <div class="menu-title">
                    <h2>salads</h2>
                </div>
                <div class="menu-row">
                    <h3>Mixed Green<span class="price">9</span></h3>
                    <p class="description">greens, fennel, dill, capers, citrus dressing</p>
                </div>
                <div class="menu-row">
                    <h3>Chopped Salad<span class="price">14</span></h3>
                    <p class="description">
                        smoked whitefish, avocado, beets, egg, apple, mixed greens, matzo,
                        buttermilk dressing
                    </p>
                </div>
                <div class="menu-row">
                    <h3>
                        Smoked Trout<span class="small-ampersand">&</span> Potato<span class="price">14</span>
                    </h3>
                    <p class="description">
                        smoked trout, watercress, caper mustard dressing
                    </p>
                </div>
            </div>
        </div> -->
        <hr class="tablet-rule" />
        <!--         <div class="menu-group sweet-bites">
            <div class="menu-title">
                <h2>Sweet Bites</h2>
            </div>
            <div class="menu-row">
                <h3>Churros<span class="price">$2.50</span></h3>
            </div>
            <div class="menu-row">
                <h3>Funnel Cake<span class="price">$2.50</span></h3>
            </div>
        </div> -->
        <hr class="tablet-rule" />
        <div class="menu-group kids-meal">
            <div class="menu-title">
                <h2>Kids Meal $4</h2>
            </div>
            <div class="smoked-fish">
                <h3>Pick 1 from each of the following</h3>
            </div>
            <div class="kids-grid">
                <p>main</p>
                <p></p>
                <p></p>
                <p>Hotdog</p>
                <p></p>
                <p>Grilled Cheese</p>
                
                <p>Mini Corndogs (4)</p>
                <p></p>
                <p>Mac-n-Cheese</p>
                
                <p>Chicken Bites (4)</p>
                <p></p>
                <p>Uncrustale (grape or strawberry)</p>
            </div>
            <div class="kids-grid">
                <p>side</p>
                <p></p>
                <p></p>
                <p>Small fries</p>
                <p></p>
                <p>Applesauce</p>
                
                <p>Chips</p>
                <p></p>
                <p>Carrots and Ranch</p>
                
                <p>Go-Gurt</p>
                <p></p>
                <p>Cookies</p>
            </div>
            <div class="kids-grid">
                <p>drink</p>
                <p></p>
                <p></p>
                <p>Small fountain drink</p>
                <p></p>
                <p>Slushie</p>
            </div>
        </div>
        <div class="menu-group drinks">
            <div class="menu-title">
                <h2>Drinks</h2>
            </div>
            <!--             <p class="description">blini, creme fraiche, accoutrement</p> -->
            <div class="drinks-grid">
                <p>ounces</p>
                <p></p>
                <p>12</p>
                <p>20</p>
                <p></p>
                <p>Fountain Drink</p>
                <p></p>
                <p class="dot">$1.50</p>
                <p>$1.00</p>
                <p></p>
                <p>Slushie</p>
                <p>$1.00</p>
                <p></p>
                <p></p>
                <p></p>
                <p>Gatorade</p>
                <p>$2.50</p>
                <p></p>
                <p></p>
                <p></p>
                <p>Bottle Water</p>
                <p>$1.00</p>
                <p></p>
                <p></p>
                <p></p>
                <p>Iced Coffee</p>
                <p></p>
                <p class="dot">$3.00</p>
                <p>$4.00</p>
                <p></p>
            </div>
        </div>
        <!--<div class="menu-group fish">
            <img src="https://beechwood-swim-club.netlify.app/images/beechwood-swim-club-barracuda-fish.jpg">
        </div>
        <hr class="tablet-rule" />-->
    </div>
</div>
