<div class="menu">
    <div class="menu-items">
        <div class="menu-group snacks">
            <div class="menu-title snacks">
                <h2>Snacks</h2>
            </div>
            <div class="menu-row">
                <h3>Hot Pretzel <span class="price">$2.50</span>
                </h3>
                <p class="description">with Cheese <span class="price">$3.00</span></p>
            </div>
            <div class="menu-row">
                <h3>French Fries<span class="price">$2.50</span></h3>
            </div>
            <div class="menu-row">
                <h3>Cheese Fries<span class="price">$3.00</span></h3>
            </div>
            <div class="menu-row">
                <h3>Loaded Fries<span class="price">$4.50</span></h3>
                <p class="description">
                    cheddar cheese, bacon, ranch
                </p>
            </div>
            <div class="menu-row">
                <h3>Nachos w/Cheese<span class="price">$3.00</span></h3>
            </div>
            <div class="menu-row">
                <h3>Nachos Supreme<span class="price">$3.75</span></h3>
                <p class="description">nacho cheese, sour cream, salsa, jalapeño</p>
            </div>
            <div class="menu-row">
                <h3>Taco Nachos<span class="price">$4.00</span></h3>
                <p class="description">taco meat, nacho cheese, onions, sour cream, salsa</p>
            </div>
            <div class="menu-row">
                <h3>Walking Taco<span class="price">$3.75</span></h3>
                <p class="description">Fritos topped with taco meat, nacho cheese, sour cream</p>
            </div>
            <div class="menu-row">
                <h3>Boneless Chicken Bites (8)<span class="price">$4.00</span></h3>
                <p class="description">Served with choice of BBQ, Buffalo or Ketchup</p>
            </div>
            <div class="menu-row">
                <h3>Onion Rings<span class="price">$2.75</span></h3>
            </div>
            <div class="menu-row">
                <h3>Mozzarella Sticks<span class="price">$3.00</span></h3>
            </div>
            <div class="menu-row">
                <h3>Whole Pickle<span class="price">$1.00</span></h3>
            </div>
            <div class="menu-row">
                <h3>Hard Boilded Egg<span class="price">$1.00</span></h3>
            </div>
            <div class="menu-row">
                <h3>Popcorn<span class="price">$1.00</span></h3>
            </div>
            <div class="menu-row">
                <h3>Chips<span class="price">$1.00</span></h3>
            </div>
        </div>
    </div>
</div>
