{% if navigation.items %}
	<div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
	<nav class="nav" aria-label="{{ariaLabel}}">
		<ul class="[ nav__list ] [ box-flex align-center md:space-before ]">
			{% for item in navigation.items %}
				{% set relAttribute = '' %}
				{% set currentAttribute = '' %}
				{% set currentPage = page.url | replace("/", "") %}
				{% set itemUrl = item.url | replace("/", "") %}

				{% if item.rel %}
					{% set relAttribute = ' rel="' + item.rel + '"' %}
				{% endif %}

				{% if currentPage == itemUrl %}
					{% set currentAttribute = ' aria-current="page"' %}
				{% endif %}

				<li class="nav__item">
					<a href="{{ item.url }}" {{ relAttribute | safe }}{{ currentAttribute | safe }} class="nav__item-hover" data-id="{{ item.text }}">{{ item.text }}</a>
					{% if item.sub_items %}
						<ul class="sub-menu">
							{% for subitem in item.sub_items %}
								{% set relAttribute = '' %}
								{% set currentAttribute = '' %}
								{% set currentPage = page.url | replace("/", "") %}
								{% set itemUrl = subitem.url | replace("/", "") %}

								{% if subitem.rel %}
									{% set relAttribute = ' rel="' + subitem.rel + '"' %}
								{% endif %}

								{% if currentPage == itemUrl %}
									{% set currentAttribute = ' aria-current="page"' %}
								{% endif %}
							
								<li class="nav__item">
									<a href="{{ subitem.url }}" {{ relAttribute | safe }}{{ currentAttribute | safe }} class="nav__item-hover" data-id="{{ subitem.text }}">{{ subitem.text }}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</nav>
{% endif %}
