{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set membershipDuesText = membershipDues %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    <section>
      <!--
      <div class="[ inner-wrapper ] [ sf-flow ]" style="margin-top: 1em;">
        <div class="wrapper">
          <p>At approximately 3 AM this morning, July 11th, a group of at least three (3) teenagers trespassed on the premises of Beechwood Swim Club and, among other things, used the diving boards. This incident was further posted to social media and is being circulated.</p>
          <p>Nothing is more paramount to the Board of Directors and management of the club than safety. Being located in a residential area, we recognize the innocent intentions likely behind such an event. However, potential liability and opportunity for unforeseen tragedy force us to take incidents like these seriously.</p>
          <p>At this time, the identity of one of the individuals is known, and the club is working with the Fort Mitchell Police Department to identify the other parties involved, so that the parents of the juveniles can be appropriately notified. At least one of the parties is believed to be a member of the club. While not off the table, criminal charges are not the goal; the safety of our community's children is.</p>
          <p>Anyone with information about this incident or knowledge regarding the identity of the trespassers is encouraged to contact the club at beechwoodswimclubky@gmail.com. Parents - please talk to your kids. Kids - please come forward. Let us address this appropriately and let it be a learning point for our local kids and avoid what could be a tragic situation that no one wants.</p>
          <p>Our club has been a place to serve families for decades. There is nothing we want more than to be a place where our local teenagers want to be; just during operating hours when we can assure their safety, as our our community's kids will always be our most precious entities.</p>
          <p>Thank you for your cooperation, and please provide the necessary information.</p>
        </div>
      </div>
      <hr>
      -->
      <h2 class="ta-center pool-open hide confetti" style="padding: 0.5em 0; position: relative;">🎉 The Pool is OPEN! 🎉</h2>
      <h2 class="ta-center pool-will-open">Pool Opens In</h2>
      <!--<div id="countdown"></div>-->
    </section>

    <section class="[ post-list ] [ pad-top-700 pad-bottom-300 ]">
      <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2>Reminder - Pool Closed Monday, July 15th 4pm through Wednesday, July 17th</h2>
        <p>Hello All,</p>
        <p>This is a reminder that the pool will be closed from 4pm on Monday, July 15th, through Wednesday, July 17th. The pool will reopen on Thursday, July 18th, at 11am.</p>
        <p>Beechwood is hosting the NKSL Swimming Championship Meet on Tuesday and Wednesday. On Tuesday and Wednesday you will be able to go to the following pools:</p>
        <ul>
            <li>Bluegrass</li>
            <li>Brookwood</li>
            <li>Five Seasons</li>
            <li>Fort Thomas</li>
            <li>Oakbrook</li>
            <li>Taylor Mill</li>
        </ul>
        <p>You must bring your membership cards with you to gain admittance to these pools. If you still have no picked up your membership cards, you can pick them up at the pool office.</p>
        <p>Thank you.</p>
      </div>    
    </section>
    
    <section class="[ post-list ] [ pad-top-700 pad-bottom-300 ]">
      <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2>Member Information Form</h2>
        <p>All members are required to complete a member information form prior to the pool opening on May 27. <i><u>Starting Opening Day, your family will not be 
        given access to the pool until the membership form is submitted.</u></i></p>
        <p>Please fill out the 2024 Membership Information Form and email it to <a href="mailto:beechwoodswimclubky@gmail.com">beechwoodswimclubky@gmail.com</a>. The form can be found by clicking <a href="https://beechwoodswimclub.us18.list-manage.com/track/click?u=d2234782ae340940dd72dad5c&id=cc4eff24e8&e=c702d2f988">here</a>.</p>
      </div>    
    </section>
    
    <section class="[ inner-wrapper ] [ sf-flow ]" style="background: navy; padding: 2em; margin: 1.5em auto;">
      <p style="color: #fff;">For people seeking for Beechwood Swim Club membership, we have started a new email address specifically related to our waitlist and membership inquiries. 
      It is: <a style="color: #fff;" href="mailto:waitlist.beechwoodswimclub@gmail.com">waitlist.beechwoodswimclub@gmail.com</a></p>
      <p style="color: #fff;">If you have already inquired in the past, you do *not* have send one to the new address. The waitlist / bond / rental inquiries 
      were simply overwhelming our club email address, so we needed to separate them out. </p>
    </section>
    <section class="[ inner-wrapper ] [ sf-flow ]">
      <img style="" src="https://beechwood-swim-club.netlify.app/images/BSC-summer-jobs.jpg">
      <h2 class="ta-center">Join our team!</h2>
      <h3>Open Interviews</h3>
      <p><b>When?</b> Sunday, Feb 25th & Sunday, March 10th</p>
      <p><b>Time?</b> 1:30 - 2:30pm</p>
      <p><b>Where?</b> Erlanger Library in the Charlotte Room</p>
      <p><b>Positions available</b></p>
      <p>
        <ul style="list-style-position: inside;">
          <li>Front Desk (14+)</li>
          <li>Snack Shack (14+)</li>
          <li>Maintenance (14+)</li>
          <li>Lifeguards (15+ years old)</li>
          <li>Cooks (18+ years old)</li>
        </ul>
      </p>
      <p><b>Questions?</b> Email <a href="mailto:beechwoodswimclubmanager@gmail.com">beechwoodswimclubmanager@gmail.com</a></p>
      <p><img style="width: 125px;" src="https://beechwood-swim-club.netlify.app/images/Beechwood-Swim-Club_scan-qr-code.jpg"><br/><b>Scan and apply</b></p>
      <p class="ta-center"><a style="color: #fff; background-color: navy; font-size: 1.5em; padding: 10px 20px; text-decoration: none; border: 1px solid navy;" href="https://forms.office.com/pages/responsepage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAEWV0wyuD9UNk4zQzE0SFc2V0w3U0ZCMFIyRlNLMkRTNS4u"><b>Apply Now</b></a></p>
    </section> 
    
    {% include "partials/components/membership.njk" %}
    <div class="[ inner-wrapper ] [ sf-flow ]">
      <p><strong><u>DUES PAYMENT REMINDER FOR THOSE WHO HAVE YET TO PAY</u></strong></p>
      <p>There are a few <strong><u>very important</u></strong> approaching deadlines that we want to make sure all members are aware:</p>
      <p>
        <ul>
          <li>Members <strong>must</strong> pay their 2024 membership dues plus late fee or inform the pool via email that you will be “inactive” for 2024 by 
          <strong><u>MAY 15</u></strong>. <span class="red-uppercase">FAILURE TO DO EITHER WILL CAUSE YOUR BOND TO BE FORFEITTED ON MAY 16 AND YOU WILL NO 
          LONGER BE A MEMBER.</span>
            <ul>
              <li>Dues payments made by May 15 will also need to include $150 late fee.</li>
            </ul>
          </li>
          <li>If you chose to be “inactive”, the inactive fee of $310 must be paid by <strong><u>JUNE 15</u></strong>. <span class="red-uppercase">FAILURE TO PAY THE INACTIVE FEE BY JUNE 15 WILL CAUSE YOUR BOND TO BE FORFEITTED ON JUNE 16 AND YOU WILL NO LONGER BE A MEMBER.</span></li>
          <li>If you wish to pay by check, there are opportunities on May 10 and May 12 where someone will be at the pool to accept payment.  Please see the “Bond Transfer” Section below for times.</li>
        </ul>
      </p>
      <p>If you have already paid your dues and your Member Splash account says “Paid”, you are in good standing and the above deadlines do not apply to you.</p>
    </div>
    
    <section class="[ post-list ] [ pad-top-700 pad-bottom-300 ]">
      <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2>Shelter Rental</h2>
        <p>Starting May 9 at 8am, you are able to reserve the Pool Shelter on the lower deck and the Shelter area on the upper deck by the Diving Boards. There is a $40 rental fee for the Lower Deck Shelter.  There will not be a charge if you reserve the Upper Deck Shelter.  There are two sessions for rental (11:00-3:30) and (4:00-9:00).  You can only reserve one of the sessions per day.</p>
      </div>    
    </section>
        
    <section class="[ post-list ] [ pad-top-700 pad-bottom-300 ]">
      <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2>Bond Transfers</h2>
        <p>Our treasurer, Stephanie Bogenschutz, will be at the swim club on the following dates and times to sign bonds over to new members:</p>
        <p>
          <ul>
            <li>5/10/23 from 5:00 – 6:00 pm</li>
            <li>5/12/23 from 4:00 – 5:30 pm</li>
            <li>5/27/23 from 11:00 am – 12:00 pm</li>
          </ul>
        </p>
        
        <p><strong><u>There is a $50 transfer fee that must be paid to Stephanie at the time you want your bond signed over to you.</u></strong></p>
        
        <p>You can find information about the swim club, such as our bylaws, on our 
        <a href="https://beechwoodswimclub.us18.list-manage.com/track/click?u=d2234782ae340940dd72dad5c&id=9c3f5b098d&e=c702d2f988">website</a>. Going 
        forward, the most current information such as closures due to weather and things of that nature are posted on our 
        <a href="https://beechwoodswimclub.us18.list-manage.com/track/click?u=d2234782ae340940dd72dad5c&id=84c6927ff3&e=c702d2f988">Facebook page</a>. Follow 
        us there to stay up to speed. We look forward to seeing you in a few short weeks!</p>
      </div>    
    </section>
    
    <div class="poolservices">
      {% include "partials/components/post-list.njk" %}
    </div>
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}
