{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set membershipDuesText = membershipDues %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    <section>
      <h2 class="ta-center pool-open hide confetti" style="padding: 0.5em 0; position: relative; display: none !important;">🎉 The Pool is OPEN! 🎉</h2>
      <h2 class="ta-center pool-closed" style="padding: 0.5em 0; position: relative;">The Pool is CLOSED!</h2>
      <h2 class="ta-center pool-will-open" style="display: none !important;">Pool Opens In</h2>
      <div id="countdown" style="display: none !important;"></div>
    </section>
    
    <section class="[ post-list ] [ pad-top-700 pad-bottom-300 ]">
      <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2>Member Information Form</h2>
        <p>All members are required to complete a member information form prior to the pool opening on May 24. <i><u>Starting Opening Day, your family will not be 
        given access to the pool until the membership form is submitted.</u></i></p>
        <p>Please fill out the 2026 Membership Information Form and email it to <a href="mailto:beechwoodswimclubky@gmail.com">beechwoodswimclubky@gmail.com</a>. The form can be found by clicking <a href="https://beechwoodswimclub.us18.list-manage.com/track/click?u=d2234782ae340940dd72dad5c&id=cc4eff24e8&e=c702d2f988">here</a>.</p>
      </div>    
    </section>
    
    <section class="[ inner-wrapper ] [ sf-flow ]" style="background: navy; padding: 2em; margin: 1.5em auto;">
      <p style="color: #fff;">For people seeking for Beechwood Swim Club membership, we have started a new email address specifically related to our waitlist and membership inquiries. 
      It is: <a style="color: #fff;" href="mailto:waitlist.beechwoodswimclub@gmail.com">waitlist.beechwoodswimclub@gmail.com</a></p>
      <p style="color: #fff;">If you have already inquired in the past, you do *not* have send one to the new address. The waitlist / bond / rental inquiries 
      were simply overwhelming our club email address, so we needed to separate them out. </p>
    </section>

    <section class="[ post-list ] [ pad-top-700 pad-bottom-300 ]">
      <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2 style="text-decoration: underline;">A few reminders:</h2>
        <h2>Beechwood Barracudas Swim and Dive Team</h2>
        <p>Registration for the Beechwood Barracudas Swim and Dive Team is still open!</p>
        <p>Joining the Barracudas is more than just participating in a sport; it's about making lifelong friends, boosting confidence, and creating lasting summer memories. Our team competes in the Northern Kentucky Swim League (NKSL), providing a friendly, yet competitive environment for all skill levels.</p>
        <p>For more information and to register, visit the team online via Team Unify (<a href="https://www.gomotionapp.com/team/recnkbscky/page/home">https://www.gomotionapp.com/team/recnkbscky/page/home</a>). Additional information about the season can be found on the Team Unify site too. Check it out!</p>
        <p>Important dates for the Beechwood Barracudas Swim and Dive Team:</p>
        <ul>
          <li>Information Night: Wednesday, May 28th at 7pm at the Lower Deck Shelter. Meet the coaches, learn about the season, and get all your questions answered. Athletes are welcome too!</li>
          <li>Practices Begin: Monday, June 2nd for the Swim/Dive Team; Tuesday, June 3rd for Little Cudas</li>
        </ul>
      </div>    

      <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2>Membership Tags</h2>
        <p>Besides getting the pool ready we are working hard to get our new cards/tags ready! These will be able to be put on your keychain. You will receive your new tags at your first visit to the Swim Club. You will need your tags to scan in every time you visit.  We will no longer allow the front desk staff to look members up for entry.  This delays other members being able to enter in a timely fashion. To ensure quick entry into the Swim Club please have your tag ready or a picture of it to scan into the computer. If a look up is required, the manager will be called to the front office to help you.</p>
        <p>Replacement tags will be $5 per tag.</p>
      </div>

      <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2>Important Dates/Events at Beechwood Swim Club</h2>
        <ul>
          <li>TBD</li>
        </ul>
      </div>

      <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2>Member Communication Throughout the Season</h2>
        <p>As we head into the 2026 season, we are continuing our commitment to provide the most widespread information to our members as possible, so that everyone feels up to speed on what is happening. Issues in the past with emails have led us to try to post updates across multiple platforms including email, our pool website, and our pool Facebook page. Major items, such as our bylaws and this year’s member letter, will always be posted to our website. Please regularly check your email, our website, and our Facebook page so that you can stay informed of all events happening at the pool. </p>
      </div>

      <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2>Questions/Comments</h2>
        <p>As always, if you have questions or comments, please feel free to contact us at the swim club email, which is <a href="mailto:beechwoodswimclubky@gmail.com">beechwoodswimclubky@gmail.com</a>. Thank you!</p>
        <p>We cannot wait to see you this summer!</p>
      </div>

    </section>

    <section class="[ inner-wrapper ] [ sf-flow ]">
      <img style="" src="/images/bsc-summer-jobs.jpg">
      <h2 class="ta-center">Join our team!</h2>
      <h3>Open Interviews</h3>
      <!--<p><b>When?</b> Sunday, Feb 9th & Sunday, March 9th</p>
      <p><b>Time?</b> 1:30 - 3:30pm</p>
      <p><b>Where?</b> Erlanger Library Meeting Room</p>-->
      
      <p><b>Positions available</b></p>
      <p>
        <ul style="list-style-position: inside;">
          <li>Front Desk (14+)</li>
          <li>Concessions Crew (14+)</li>
          <li>Deck Team</li>
          <li>Assistant Manager</li>
          <li>Lifeguards (15+ years old)</li>
          <li>Cooks (18+ years old)</li>
        </ul>
      </p>
      <p><img style="width: 125px;" src="/images/beechwood-swim-club_scan-qr-code.jpg"><br/><b>Scan and apply</b></p>
      <p><b>Questions?</b> Email <a href="mailto:beechwoodswimclubmanager@gmail.com">beechwoodswimclubmanager@gmail.com</a></p>      
      <p class="ta-center"><a style="color: #fff; background-color: navy; font-size: 1.5em; padding: 10px 20px; text-decoration: none; border: 1px solid navy;" href="https://forms.office.com/r/PB14sNfybx"><b>Apply Now</b></a></p>
    </section> 
    
    {% include "partials/components/membership.njk" %}
    
    <section class="[ post-list ] [ pad-top-700 pad-bottom-300 ]">
      <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2>Shelter Rental</h2>
        <p>Starting May 19 at 8am, you are able to reserve the Pool Shelter on the lower deck and the Shelter area on the upper deck by the Diving Boards. There is a $50 rental fee for the Lower Deck Shelter and a $25 rental fee for the Upper Deck Shelter. There are two sessions for rental (11 a.m. - 3:30 p.m.) and (4 - 9 p.m.). You can only reserve one of the sessions per day. Please log into your <a href="https://beechwoodswimclub.membersplash.com/">Member Splash</a> account to reserve the shelters.</p>
      </div>    
    </section>
        
    <section class="[ post-list ] [ pad-top-700 pad-bottom-300 ]">
      <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2>Bond Transfers</h2>
        <p>Our treasurer, Eric Mooney, will be at the swim club on the following dates and times to sign bonds over to new members:</p>
        <p> 
          <ul>
              <li>May 7 5:30 - 6:30 p.m.</li>
              <li>May 14 5:30 - 6:30 p.m.</li>
          </ul>
        </p>
        
        <p><strong><u>There is a $50 transfer fee that must be paid to the treasurer at the time you want your bond signed over to you.</u></strong></p>
        
        <p>You can find information about the swim club, such as our bylaws, on our 
        <a href="https://beechwoodswimclub.us18.list-manage.com/track/click?u=d2234782ae340940dd72dad5c&id=9c3f5b098d&e=c702d2f988">website</a>. Going 
        forward, the most current information such as closures due to weather and things of that nature are posted on our 
        <a href="https://beechwoodswimclub.us18.list-manage.com/track/click?u=d2234782ae340940dd72dad5c&id=84c6927ff3&e=c702d2f988">Facebook page</a>. Follow 
        us there to stay up to speed. We look forward to seeing you in a few short weeks!</p>
      </div>    
    </section>
    
    <div class="poolservices">
      {% include "partials/components/post-list.njk" %}
    </div>
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}
