{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set membershipDuesText = membershipDues %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    <section>
      <!--
      <div class="[ inner-wrapper ] [ sf-flow ]" style="margin-top: 1em;">
        <div class="wrapper">
          <p>At approximately 3 AM this morning, July 11th, a group of at least three (3) teenagers trespassed on the premises of Beechwood Swim Club and, among other things, used the diving boards. This incident was further posted to social media and is being circulated.</p>
          <p>Nothing is more paramount to the Board of Directors and management of the club than safety. Being located in a residential area, we recognize the innocent intentions likely behind such an event. However, potential liability and opportunity for unforeseen tragedy force us to take incidents like these seriously.</p>
          <p>At this time, the identity of one of the individuals is known, and the club is working with the Fort Mitchell Police Department to identify the other parties involved, so that the parents of the juveniles can be appropriately notified. At least one of the parties is believed to be a member of the club. While not off the table, criminal charges are not the goal; the safety of our community's children is.</p>
          <p>Anyone with information about this incident or knowledge regarding the identity of the trespassers is encouraged to contact the club at beechwoodswimclubky@gmail.com. Parents - please talk to your kids. Kids - please come forward. Let us address this appropriately and let it be a learning point for our local kids and avoid what could be a tragic situation that no one wants.</p>
          <p>Our club has been a place to serve families for decades. There is nothing we want more than to be a place where our local teenagers want to be; just during operating hours when we can assure their safety, as our our community's kids will always be our most precious entities.</p>
          <p>Thank you for your cooperation, and please provide the necessary information.</p>
        </div>
      </div>
      <hr>
      -->
      <!--<h2 class="ta-center pool-open confetti" style="padding: 1em 0;">Thanks for great pool season at BSC! See you next year!</h2>-->
      <h2 class="ta-center">Pool Opens In</h2>
      <div id="countdown"></div>
    </section>
    
    <a style="display: inline-block;" href="https://forms.office.com/pages/responsepage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAEWV0wyuD9UNk4zQzE0SFc2V0w3U0ZCMFIyRlNLMkRTNS4u"><img src="https://beechwood-swim-club.netlify.app/images/Beechwood-Swim-Club_hiring.jpeg" style="max-width: 80%; margin: 0 auto;"></a>
    
    {% include "partials/components/membership.njk" %}
    <div class="poolservices">
      {% include "partials/components/post-list.njk" %}
    </div>
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}
