@import 'config';

// Pull in the stalfos lib
@import '../../node_modules/stalfos/stalfos.scss';

// Local mixins
@import 'mixins/dark-mode';

@import 'theme';

// Local dependencies
@import 'typography';

/**
 * GLOBAL STYLES
 */
html,
body {
  height: 100%;
}

body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  &:focus {
    outline: none;
  }
}

hr {
  display: block;
  height: 3px;
  max-width: 500px;
  background: #72c02c !important;
  border: none;
  margin: get-size(900) auto;
}

// For when metric attributes are added to img elements
img {
  height: auto;
}

:focus {
  outline: 1px solid var(--color-theme-primary-glare);
  outline-offset: 0.25rem;
}

/**
 * PROJECT IMPORTS
 */

// Utils
@import 'utilities/inner-wrapper';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';

// Components
@import 'components/button';
@import 'components/form';
@import 'components/heading-permalink';
@import 'components/intro';
@import 'components/nav';
@import 'components/pagination';
@import 'components/post';
@import 'components/post-list';
@import 'components/site-head';
@import 'components/site-foot';
@import 'components/skip-link';
@import 'components/syntax-highlighting';
@import 'components/video-player';

theme-toggle { display: none; }

.post-list__items { display: flex; }

.post-list__items > * { width: 25%; margin-top: 0 !important; padding: 0 0.25em; }

main header p { color: #fff !important; }
main header h1 { color: #72c02c !important; }

.post__body a:not([class]) { color: navy !important; background: none !important; text-decoration: underline; padding: 0; }

.site-foot { border-top: 5px solid #72c02c !important; }

.nav:not(.light) .nav__item a[aria-current='page'] {
    color: #72c02c;
}

.nav.light .nav__item a[aria-current='page'] {
    color: #72c02c;
}

h3 { color: navy; }

footer { 
  background: #F5F5F5 !important; 
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 1em;
  right: 1em;
  background: navy;
  height: 50px;
  width: 50px;
}

@media only screen and (max-width: 798px) {
  header.site-head  {
      padding: 0.5rem 0 !important; 
  }
  
  header.site-head .site-head__site-name {
    width: 75%;
  }
  
  .nav-mobile {
    display: block;
  }
  
  nav ul {
    display: none;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul.nav__list {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(256, 256, 256, 0.9);
    border: 1px solid #222;
  }
  nav ul li {
    float: none;
    border-bottom: 1px solid #ccc;
    padding: 0;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
  
  .nav__list>*+* {
    margin-left: 0;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 8px;
  top: 12px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #72c02c;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* Sub-navigation */
@media screen and (min-width: 789px) {
  .sub-menu {
    position: absolute;
    min-width: 250px;
    margin: 0;
    padding: 0;
    z-index: 100;
    border: 0;
    box-shadow: 0 0 30px rgb(0 0 0 / 10%);
    background: transparent;
    border-radius: 2px;
    max-height: 0;
    overflow: hidden;
    margin-top: .5em;
    li {
      float: none;
      width: 100%;
      background: transparent;
      list-style: none;
      padding: 0;
      a {
        padding: .5rem;
        background: #fff;
        text-transform: none;
        display: none;
      }
    }
  }
  
  nav.nav > ul > li:hover {
    .sub-menu {
      max-height: 100vh;
      overflow: visible;
      li:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }
      li {
        a {
          background: #72c02c;
          color: #fff;
          display: block;
          text-decoration: none;
        }
      }
    }
  }
  
}

header.home-page {
  background-size: cover;
  background-position: bottom;
}
